.navbar-nav .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    transform: none !important;
    left: auto !important;
    right: 0 !important;
}

.navbar-nav .nav-item.dropdown {
    position: relative;
}

#user-dropdown {
    min-width: 200px;
}

.navbar-nav .dropdown-toggle {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: right !important;
}

.navbar-nav .dropdown-toggle::after {
    display: none !important;
}

.ms-auto {
    margin-left: auto !important;
}
